@keyframes fadein-float {
  0% { opacity: 0; transform: translateY(40px) scale(0.95); }
  60% { opacity: 1; transform: translateY(-10px) scale(1.05); }
  100% { opacity: 1; transform: translateY(0) scale(1); }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
